body {
    background-color: #B5F4FF;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contenido h2 {
    font-size: 24px;
    color: #007bff;
}

#contenido p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

#contenido img {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#logos img {
    border-radius: 10px;
    transition: transform 0.3s;
}

#logos img:hover {
    transform: scale(1.1);
}

#sobre-mi ul {
    list-style-type: square;
    text-align: left;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}