body{
    background-color: #B5F4FF;
}
#Titulo{
font-family: helvetica;
}
header{
    background-color: #007bff;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    color: black;
}
#contenido{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenido h2{
    font-size: 40px;
}
#contenido p{
    font-size: medium;
    color: grey;
}
img{
 width: 10cm;
 height: 5cm;   
}
footer {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}